body {
    display: grid;
    grid-template-rows: 250px auto auto 50px;
    grid-template-columns: auto 700px auto;
}

/* ------------------------------
header
------------------------------ */
header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

/* ------------------------------
himg
------------------------------ */
#himg {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

/* ------------------------------
main
------------------------------ */
main {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* ------------------------------
footer
------------------------------ */
footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

/*
@media screen and (max-width: 767px) {
    body {
        display: grid;
        grid-template-rows: 180px 60px auto auto 60px;
        grid-template-columns: auto auto auto;
        min-height: 100vh;
    }

    #main {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }

    #side {
        grid-row: 4 / 5;
        grid-column: 2 / 4;
    }

    #footer {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}
*/
