body {
    display: grid;
    grid-template-rows: 250px auto auto 50px;
    grid-template-columns: auto 700px auto;
}

#header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#header-img {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

#main {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

@media screen and (max-width: 700px) {
    body {
        display: grid;
        grid-template-rows: 250px auto auto 50px;
        grid-template-columns: auto auto auto;
    }
}
