* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:hover {
    color: #000;
}

/* ------------------------------
header
------------------------------ */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-title {
    text-align: center;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    margin-left: 35px;
}
nav a:hover {
    color: #808080
}

/* ------------------------------
header-img
------------------------------ */
#header-img img{
    width: 100%;
    height: 400px;
}

/* ------------------------------
main
------------------------------ */
section {
    margin: 100px 0px;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}

/* about */
#about .content {
    display: flex;
}
#about img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-right: 35px;
    filter: drop-shadow(0 0 0.15rem);
}
#about .content-title {
    margin-bottom: 15px;
}

/* works */
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works li:nth-child(n+4) {
    margin-top: 15px;
}
#works img {
    width: 210px;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.15rem);
}
#works .content-title {
    text-align: center;
}

/* news */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c0c0c0;
}
#news dt {
    width: 20%;
    border-bottom: 1px solid #c0c0c0;
    padding: 15px 0px;
}
#news dd {
    width: 80%;
    border-bottom: 1px solid #c0c0c0;
    padding: 15px 0px;
}

/* ------------------------------
footer
------------------------------ */
footer {
    background: #000;
}
footer p {
    line-height: 50px;
    text-align: center;
    font-size: 70%;
    color: #f5f5f5
}
