@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    color: #fff;
    scroll-snap-type: y mandatory;
}

/* header

====================================================*/

/* main

====================================================*/

section {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

section:nth-child(1) {
    background: #87DE54;
}

section:nth-child(2) {
    background: #DEAB54;
}

section:nth-child(3) {
    background: #DE5487;
}

section:nth-child(4) {
    background: #AB54DE;
}

section:nth-child(5) {
    background: #5487DE;
}

/* --- section1 --- */

#section1 p {   
    font-size: 0.3rem;
}

#section1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#section1 ul li {
    list-style: none;
}

#section1 ul li a img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 60px 0;
}

#section1 .btn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 0.3rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#section1 .btn:hover {
    color: #000;
    background: #fff;
    transition: 0.8s;
}

/* --- section2 --- */

#section2 {
    flex-direction: row;
}

#section2 img {
    width: 400px;
    height: 400px;
    margin-right: 80px;
}

#section2 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

#section2 .container h2 {
    font-size: 1rem;
}

#section2 .container p {
    font-size: 0.3rem;
    text-align: center;
    margin: 30px 0;
}

#section2 .container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#section2 .container ul li {
    font-weight: bold;
    font-size: 0.3rem;
    list-style: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

/* --- section3 --- */

#section3 h2 {
    font-size: 1rem;
}

#section3 .container {
    max-width: 1080px;
}

#section3 .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px 0;
}

#section3 .container ul li {
    min-width: 50%;
    font-size: 0.3rem;
    list-style: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px 30px;
}

/* --- section4 --- */

#section4 h2 {
    font-size: 1rem;
}

/* --- section5 --- */

#section5 h2 {
    font-size: 1rem;
}

#section5 p {
    max-width: 1080px;
    font-size: 0.3rem;
    text-align: center;
}


/* footer

====================================================*/

/* pagination

====================================================*/

.pagination {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pagination ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pagination ul li {
    list-style: none;
}

.pagination ul li a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fcfcfc;
    transition: transform 0.2s;
}

.pagination ul li a.active {
    transform: scale(1.8);
} 
