@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Baloo 2', cursive;
    font-size: 4rem;
    scroll-snap-type: y mandatory;
}

/* header

====================================================*/

/* main

====================================================*/

section {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 100px;
    color: #fff;
}

section:nth-child(1) {
    background: #87DE54;
}

section:nth-child(2) {
    background: #DEAB54;
}

section:nth-child(3) {
    background: #DE5487;
}

section:nth-child(4) {
    background: #AB54DE;
}

section:nth-child(5) {
    background: #5487DE;
}

section .container {
    max-width: 1080px;
}

/* --- section4 --- */

/* --- section5 --- */

#section5 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#section5 ul li {
    list-style: none;
}

#section5 ul li a {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#section5 ul li a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* footer

====================================================*/

/* pagination

====================================================*/

.pagination {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pagination ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pagination ul li {
    list-style: none;
}

.pagination ul li a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fcfcfc;
    transition: transform 0.2s;
}

.pagination ul li a.active {
    transform: scale(1.8);
} 
