@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

body {
    background-color: #F4F5F7;
}

/* header

====================================================*/

/* main

====================================================*/

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px;
    text-align: center;
}

main h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}

main p {
    margin-bottom: 25px;
}

main .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

main .box-container .box {
    background-color: #fff;
}

main .box-container .box img {
    margin-bottom: 20px;
    overflow: hidden;
}

/* footer

====================================================*/

/* pagination

====================================================*/

