* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:hover {
    color: #000;
}

.wrapper {
    font-size: 0.9rem;
    margin-bottom: 150px;
}
.site-title {
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}

/* ------------------------------
header
------------------------------ */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header ul {
    display: flex;
    align-items: center;
}
#header li {
    margin-left: 25px;
    font-size: 0.9rem;
}
#header a:hover {
    color: #808080;
}

/* ------------------------------
header-img
------------------------------ */
#header-img {
    margin-bottom: 100px;
}
#header-img img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
}

/* ------------------------------
main
------------------------------ */
/* about */
#about .content {
    display: flex;
}
#about img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-right: 35px;
    filter: drop-shadow(0 0 0.2rem);
}
#about .content-title {
    margin-bottom: 15px;
}

/* works */
#works li {
    display: flex;
}
#works li:nth-child(2n) {
    flex-direction: row-reverse;
    margin: 35px 0px;
}
#works li:nth-child(2n+1) img {
    margin-right: 35px;
}
#works li:nth-child(2n) img {
    margin-left: 35px;
}
#works img {
    width: 350px;
    flex-shrink: 0;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.2rem);
}
#works .content-title {
    margin-bottom: 15px;
}

/* news */
#news dl {
    border-top: 1px solid #c0c0c0;
}
#news dt {
    float: left;
    border-bottom: 1px solid #c0c0c0;
    padding: 15px;
    margin-right: 30px;
}
#news dd {
    border-bottom: 1px solid #c0c0c0;
    padding: 15px;
}

/* ------------------------------
footer
------------------------------ */
#footer {
    background: #000;
}
#footer p {
    line-height: 50px;
    text-align: center;
    font-size: 0.7rem;
    color: #f5f5f5
}
