@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Baloo 2', cursive;
    font-size: 4rem;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 100px;
    color: #fff;
}

section:nth-child(1) {
    background: #4287f5;
}

section:nth-child(2) {
    background: #f54242;
}

section:nth-child(3) {
    background: #2dcc4d;
}

section:nth-child(4) {
    background: #a442f5;
}

section .container {
    max-width: 1080px;
}

#contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#contact ul li {
    list-style: none;
}

#contact ul li a {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#contact ul li a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
