* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
body {
    color: #121212;
    font-size: 0.9rem;
    line-height: 1.7;
}
a {
    color: #121212;
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}

.section-title {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;
}

.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

/* ------------------------------
header
------------------------------ */
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background: #fff;
}
#nav {
    display: block;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 300px;
    background: #121212;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}
#nav a {
    color: #fff;
}
#nav li {
    margin-bottom: 10px;
}
.open #nav {
    right: 0px;
    opacity: 1;
}
.toggle_btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    z-index: 20;
    cursor: pointer;
}
.toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    border-radius: 4px;
    transition: all 0.5s;
}
.toggle_btn span:nth-child(1) {
    top: 4px;
}
.toggle_btn span:nth-child(2) {
    top: 14px;
}
.toggle_btn span:nth-child(3) {
    bottom: 4px;
}
.open .toggle_btn span {
    background: #fff;
}
.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}
#mask {
    display: none;
    transform: all 0.5s;
}
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10px;
    cursor: pointer;
}

/* ------------------------------
main
------------------------------ */
/* mainvisual */

/* about */

/* works */
#works {
    max-width: 1280px;
    padding: 0px 30px;
    margin: 100px auto 100px auto;
}
#works .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#works .grid .item {
    box-shadow: 0 0 8px 4px #ccc;
}
#works .grid .item img {
    vertical-align: top;
}
#works .grid .item .item-content {
    padding: 30px;
}
#works .grid .item .item-cat {
    font-size: 0.75rem;
    margin-bottom: 20px;
}
#works .grid .item .item-text {
    font-weight: bold;
    margin-bottom: 20px;
}
#works .grid .item .item-date {
    font-size: 0.75rem;
    text-align: right;
}

/* ------------------------------
footer
------------------------------ */
#footer p {
    background: #000;
    color: #f5f5f5;
    font-size: 0.6rem;
    line-height: 50px;
    text-align: center;
}
