@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
body {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-attachment: fixed;
}

/* ------------------------------
header
------------------------------ */
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 150px;
    display: flex;
    justify-content: flex-end;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 40px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

/* ------------------------------
main
------------------------------ */
main {
    background:red;
}
main .mv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .mv h2 {
    color: #fff;
    font-size: 80px;
}
main .mv p {
    color: #fff;
    font-size: 30px;
}

/* ------------------------------
footer
------------------------------ */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 150px;
}
footer p {
    color: #fff;
    font-size: 20px;
}

/* ------------------------------
animation-area
------------------------------ */
.animationBox div {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    background-attachment: fixed;
}
.animationBox div:nth-child(1) {
    left: 86%;
    width: 100px;
    height: 100px;
    animation: animate 20s linear infinite;
    animation-delay: 8s;
}
.animationBox div:nth-child(2) {
    left: 12%;
    width: 50px;
    height: 50px;
    animation: animate 20s linear infinite;
    animation-delay: 3s;
}
.animationBox div:nth-child(3) {
    left: 70%;
    width: 50px;
    height: 50px;
    animation: animate 20s linear infinite;
    animation-delay: 15s;
}
.animationBox div:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation: animate 20s linear infinite;
    animation-delay: 5s;
}
.animationBox div:nth-child(5) {
    left: 65%;
    width: 100px;
    height: 100px;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
.animationBox div:nth-child(6) {
    left: 23%;
    width: 100px;
    height: 100px;
    animation: animate 20s linear infinite;
    animation-delay: 10s;
}
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
