* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.fadein {
    animation-name: fadeIn;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.delay-time02 {
    animation-delay: 0.2s;
}
.delay-time04 {
    animation-delay: 0.4s;
}

/* ------------------------------
Header
------------------------------ */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 860px;
    padding: 30px;
    margin: 0px auto;
}
#header .nav-menu {
    display: flex;
}
#header .nav-menu li {
    margin-left: 30px;
}
#header .nav-menu li a {
    color: #268bd2;
    font-size: 0.8rem;
}
#header .toggle_btn {
    display: none;
}
#mask {
    display: none;
}

/*#nav {
    display: block;
    position: fixed;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 100vh;
    padding: 60px 30px;
    background: #121212;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}
#nav a {
    color: #fff;
}
#nav .nav-menu {
    border-top: solid 1px #fff;
}
#nav .nav-menu li {
    padding: 20px 0px;
    border-bottom: solid 1px #fff;
}
.open #nav {
    left: 0px;
    opacity: 1;
}
.toggle_btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    z-index: 20;
    cursor: pointer;
}
.toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    border-radius: 4px;
    transition: all 0.5s;
}
.toggle_btn span:nth-child(1) {
    top: 4px;
}
.toggle_btn span:nth-child(2) {
    top: 14px;
}
.toggle_btn span:nth-child(3) {
    bottom: 4px;
}
.open .toggle_btn span {
    background: #fff;
}
.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}
#mask {
    display: none;
}
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
}*/

/* ------------------------------
Main
------------------------------ */
/* --Posts-- */
#main {
    max-width: 860px;
    padding: 0px 30px;
    margin: 0px auto;
}
#main .post {
    margin-bottom: 4rem;
}
#main .post .post-title {
    font-size: 2rem;
    line-height: 2rem;
}
#main .post .post-date {
    color: #9a9a9a;
    margin-bottom: 1rem;
}
#main .post .post-content {
    display: flex;
    align-items: center;
}
#main .post .post-content img {
    max-width: 200px;
    margin-right: 30px;
}
#main .post .post-content p {
    color: #515151;
    line-height: 1.5rem;
}

/* ------------------------------
Footer
------------------------------ */
#footer p {
    background: #121212;
    color: #fff;
    font-size: 0.6rem;
    text-align: center;
    padding: 15px;
}
