* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:hover {
    color: #000;
}

/* ------------------------------
header
------------------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-align: center;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    margin-left: 50px;
}
nav a:hover {
    color: #808080
}

/* ------------------------------
himg
------------------------------ */
#himg img{
    width: 100%;
    height: 400px;
}

/* ------------------------------
main
------------------------------ */
section {
    margin: 100px 0px;
}
h2 {
    text-align: center;
    margin-bottom: 50px;
}
#about :not(h2) {
    display: flex;
}
#about img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.15rem);
}
#works :not(h2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works img {
    width: 210px;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.15rem);
}
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c0c0c0;
}
#news dt {
    width: 20%;
    border-bottom: 1px solid #c0c0c0;
    padding: 15px 0px;
}
#news dd {
    width: 80%;
    border-bottom: 1px solid #c0c0c0;
    padding: 15px 0px;
}

/* ------------------------------
footer
------------------------------ */
footer {
    background: #000;
}
footer p {
    line-height: 50px;
    text-align: center;
    font-size: 70%;
    color: #f5f5f5
}
