* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
}
li {
    list-style: none;
}

.wrapper {
    max-width: 700px;
    font-size: 0.9rem;
    margin: 0px auto 150px auto;
}
.site-title {
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.content-title {
    margin-bottom: 15px;
}

/* ------------------------------
header
------------------------------ */
#header {
    max-width: 700px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
#header ul {
    display: flex;
}
#header li {
    margin-left: 25px;
}
#header li a {
    font-size: 0.9rem;
    color: #000;
}
#header li a:hover {
    opacity: 0.7;
}

/* ------------------------------
main
------------------------------ */
/* mainvisual */
#mainvisual {
    margin-bottom: 100px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
}

/* about */
#about {
    display: flex;
}
#about img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-right: 35px;
    filter: drop-shadow(0 0 0.2rem #000);
}

/* works */
#works li {
    display: flex;
}
#works li:nth-child(2n) {
    flex-direction: row-reverse;
    margin: 35px 0px;
}
#works li:nth-child(2n+1) img {
    margin-right: 35px;
}
#works li:nth-child(2n) img {
    margin-left: 35px;
}
#works img {
    width: 350px;
    flex-shrink: 0;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.2rem #000);
}

/* news */
#news dl {
    border-top: 1px solid #c0c0c0;
}
#news dt {
    float: left;
    border-bottom: 1px solid #c0c0c0;
    padding: 15px;
    margin-right: 30px;
}
#news dd {
    border-bottom: 1px solid #c0c0c0;
    padding: 15px;
}

/* ------------------------------
footer
------------------------------ */
#footer p {
    background: #000;
    color: #f5f5f5;
    font-size: 0.6rem;
    line-height: 50px;
    text-align: center;
}
